*{
    margin: 0%;
    padding: 0%;
}
body{
     
      font-family: "Gabarito", sans-serif;
    
}

.navbar{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 1px;
    gap: 10px;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}
.navbar__s1__title{
     color: #A435F0;
}
.navbar__s2{
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 60%;
    display: flex;
    gap: 10px;
    align-items: center;

}
.navbar__s2 input{
    border: none;
    width: 100%;
    background: none;
}
.navbar__s2 :focus{
    outline: none;
}
.navbar__s3{
    display: flex;
    gap: 10px;
    align-items: center;
}

.mylearning{
    position: relative;
    cursor: pointer;
}

.mylearning__popup{
    position: absolute;
    background-color: white;
    border:  solid black 1px;
    width: 100px;
    top: 150%;
    padding: 20px;
    right: 0;
    display: none;
}
.mylearning:hover .mylearning__popup{
    display: block;
}
.category{
    display: flex;
    padding: 10px;
    border-bottom: solid black 1px;
    justify-content: space-around;
}

.category p{
    background-color: #A435F0;
    color: white;
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;
    border: solid violet 1px;
}
.category p:hover{
    transition: 1s;
    background-color: transparent;
    color: black;
    border: solid violet 1px;
}
.sale_image img{
    width: 100%;
}
.sale_image{
    position: relative;
}
.sale_image__offer{
    position: absolute;
    border: solid black 2px;
    padding: 2%;
    top: 10%;
    left: 15%;
    background-color: white;
    width: 26%;
    animation-name: zoom;
    animation-duration: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
    
}
@keyframes zoom{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

.recommended{
    padding: 10px;
}
.recommended__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;

}
.course__card{
    flex-grow: 1;
    flex-basis: 20%;
    margin: 5px;
}

.course__card img{
    height: 50%;
    width: 100%;
}
.topics{
    padding: 10px;
}
.topics__container{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}
.topics__container p{
    padding: 10px;
    border: solid gray 2px;
    flex-grow: 1;
    flex-basis: 25%;
}
.popular__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}
.footer__one{
    display: flex;
    gap: 10px;
}
.footer{
    background-color: black;
    color: white;
    padding: 30px;
}
.footer__one p{
    margin: 20px;
}
.footer__two{
    display:flex;
    justify-content: space-between;
    margin: 20px;
}


@media screen and (max-width:800px) {
    body{
        font-size: 10px;
    }
    
}
@media screen and (max-width:600px) {
    .course__card{
        flex-basis: 40%;
    }
    .category{
        display: none;
    }
    .navbar__s3
    {
        display: none;
    }
  
    
}
